<div class="right_side">
  <ul class="list-unstyled">
  <% @users.each do |user| %>
    <li class="media mr-3">
      <%= image_tag user.photo %>
      <div class="media-body ml-3 my-auto">
        <p class="mt-0 mb-1"><%= user.fullname %></p>
        <small><%=user.username %></small>
        <%= render 'users/follow', user: user %>
      </div>
    </li>
  <% end %>
  </ul>
</div>