<div class="media">
  <div class="media-body">
    <%= comment.name %>
    <%= comment.content %>
  </div>
  <%= link_to 'Delete', [comment.opinion, comment], method: :delete, class: 'btn btn-danger', data: { confirm: "are you sure?" } %>
</div>