<ul class="d-flex">
              <div class="user_photo_right_side">
        <%= image_tag(@user.thumbnail(:photo)) %>
        <div class="card-body">
          <h5 class="username_right_side"><%= @user.fullname %></h5>
          <small class="username">@<%= @user.username %></small>
        </div>
          <li class="follow-btn rounded">
            <%= render 'users/follow_btn' unless @user == current_user %>
          </li>
          <li>
              
          </li>
          <li>
            
          
          </li>
        </div>
        <div class="media">
          <div class="media-body mx-2">
          </div>
        </div>
    </ul> 

  </div>
</div>