<% @user.opinions.each do |opinion| %>
  <ul class="list-group">
    <li class="list-group-item bg-light">
      <%= image_tag(@user.thumbnail(:photo)) %>
      <%= opinion.text %>
      <small class="text-muted time_ago"><%= time_ago_in_words(opinion.created_at) %></small>
    </li>
  </ul>
<% end %>