<% @user.opinions.each do |opinion| %>
  <ul class="list-group">
    <li class="list-group-item bg-light">
      <%= image_tag(@user.thumbnail(:photo)) %>
      <%= opinion.text %>
      <small class="text-muted time_ago"><%= opinion.created_at.strftime('%I:%M %p') %></small>
    </li>
  </ul>
<% end %>