.nav_size {
  width: 80%;
  position: relative;
  left: 20%;
}

.left {
  width: 20%;
  position: relative;
  bottom: 4.2rem;
  height: 100vh;
  background-color: red;
}

.user_photo {
  width: 2rem;
  height: 2rem;
}
