// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.welcome_photo {
  background-image: image-url('welcome_photo.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.login {
  position: relative;
  top: 20%;
  left: 30%;
}