<div class="left-side m-0">
  <div class="p-3 current_user d-flex mt-3 ml-2">
    <%= image_tag current_user.photo, class:'user_photo' %>
    <div class="align-self-center text-break text-wrap">
      <%= link_to "#{current_user.username}",
        user_path(current_user.id), class: 'ml-3'%>
    </div>
  </div>

  <div class="container-lg ml-2">
    <div class="row text-white">
      <div class="col-6 ">
        <p class="text-center">
          <%= current_user.followings.count %>
        </p>
        <p class="text-center ">Following</p>
      </div>
      <div class="col-6 followers">
        <p class="text-center">
          <%= current_user.followers.count %>
        </p>
        <p class="text-center">Followers</p>
      </div>
    </div>
  </div>
</div>
