<div class="left-side m-0 bg-dark">
  <div class="p-3 current_user d-flex mt-3 ml-2">
    <%= image_tag current_user.photo, class:'user_photo' if current_user.photo.attached? %>
    <div class="align-self-center text-break text-wrap">
      <%= link_to "#{current_user.username}",
        user_path(current_user.id), class: 'ml-3'%>
    </div>
  </div>

  <ul class="list-group list-group-horizontal text-center">
    <li class="list-group-item bg-dark text-white">
      <%= pluralize(current_user.followings.count, "following") %>
    </li>
    <li class="list-group-item bg-dark text-white">
      <%= pluralize(current_user.followers.count, "followers") %>
    </li>
  </ul>
</div>
