

<nav class="navbar navbar-expand-md navbar-dark bg-gray nav_size">
    <ul class="navbar-nav mr-auto d-flex mt-2 ">
      <li class="nav-item active">
        <%= link_to '<i class="fas fa-music text-white"></i>'.html_safe , opinions_path,class: 'navbar-brand' %>
    </ul>
    <div class="form-inline btn btn-warning d-flex">
      <%= sign_out_links %>
    </div>
</nav>