<div class="nav_size">
  <nav class="nav navbar-expand-md navbar-light bg-light sticky-top w-100">
  <ul class="nav m-auto pl-3">
    <li>
      <span class="px-2">
        <i class="fas fa-music"></i>
      </span>
    </li>
  </ul>

  <ul class="nav justify-content-end navbar-collapse collapse" id="navbarSupportedContent">
    <li class="nav-item pt-1">
      <i class="fas fa-pencil-alt nav-link"></i>
    </li>
    <li class="nav-item pt-1">
      <i class="far fa-envelope nav-link"></i>
    </li>
    <li class="nav-item pt-1">
      <i class="fas fa-search nav-link"></i>
    </li>
    <li class="nav-item pt-1">
      <i class="fas fa-cog nav-link"></i>
    </li>
    <li>
      <%= sign_out_links %>
    </li>
  </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
</div>
