<div class="nav_size">
  <nav class="nav navbar-expand-md sticky-top">
  <ul class="nav m-auto">
    <li>
      <span class="px-2">
        <%= link_to '<i class="fas fa-music text-white"></i>'.html_safe , opinions_path %></i>
      </span>
    </li>
  </ul>

  <ul class="nav justify-content-end navbar-collapse collapse" id="navbarSupportedContent">
    <li>
      <%= sign_out_links %>
    </li>
  </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
</div>
